* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	text-decoration: none;
	font-family: "NanumBarunGothic" , "Malgun Gothic" , sans-serif;
	letter-spacing: -0.03em;
}

#wrapper{
	min-height: 500px;
	position: relative;
}

footer{
  position: relative; (absolute -> relative)
	transform: translateY(-100%);
}


/* [footer 섹션 css] */
.footer {
    text-align: left;
    padding-left: 15px;
}

.footer_info{
	width: 100%;
}

.footer_info p{
	width: 100%;
}

.footer_info ul li:first-child{
	padding-left: 0px;
	background: none;
}

.footer_info ul li{
	float: left;
	padding: 0 13px;
	font-size: 12px;
	background: url('../../../public/images/icons/footer_line.png') no-repeat;
}

.footer_info ul li a{
	color: #b2b2b2;
}

.rights {
	color: #666666;
}


/* [Board css] */
.board-list {
    width: 768px;
    margin: auto;
}

.board-detail {
    width: 768px;
    margin: auto;
    text-align: left;
}

.board-contents {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.common-buttons {
    padding: 8px;
    text-align: right;
}


/* [hover 효과 css] */
.galleryList {
	width: 100%;
	margin: 0 auto;
}

.galleryList ul {
	font-size: 0;
}

.galleryList ul > li {
	display: inline-block;
	vertical-align: top;
}

.galleryList ul > li > a {
	display: block;
	width: auto;
	text-decoration: none;
	margin: 5px;
}

.galleryList ul > li > a .screen {
	position: relative;
	overflow: hidden;
}

.galleryList ul > li > a .screen .top {
	position: absolute;
	bottom: 150%;
	left: 50%;
	z-index: 2;
	color: #fff;
	font-size: 26px;
	font-weight: 900;
	transition: all 0.35s;
	transform: translateX(-50%);
}

.galleryList ul > li > a .screen .bottom {
	position: absolute;
	top: 150%;
	left: 50%;
	z-index: 2;
	color: #fff;
	font-size: 12px;
	transition: all 0.35s;
	transform: translateX(-50%);
}

.galleryList ul > li > a .screen img {
	width: 100%;
}

.galleryList ul > li > a:hover .top {
	bottom: 52%;
}

.galleryList ul > li > a:hover .bottom {
	top: 52%;
}


.galleryList ul > li > a .screen::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
	opacity: 0;
	transition: all 0.35s;
}

.galleryList ul > li > a:hover .screen::after {
	opacity: 1;
}


/* [mypage css] */
.myPage {
  min-height: 400px;
}

nav.mypage-sidenav {
    width: 170px;
    float: left;
    margin: 52px 40px 0px 0px;
    font-family: musinsa-Medium, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-size: 14px;
}

.my-account h3 {
	padding: 13px 0px 2px;
	font-size: 24px;
	font-weight: normal;
	line-height: 40px;
	color: #000;
}

.mypage-sidenav a {
	display: flex;
	margin-top: 2px;
	font-size: 16px;
	line-height: 40px;
	color: rgb(110, 110, 110) !important;
}

.mypage-cont {
    width: calc(100% - 210px);
    padding: 0;
    float: right;
}

.mypage-cont .info_views-area {
	display: flex;
	align-items: center;
}

.my-activity {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.my-info {
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	padding-bottom: 15px;

}

.section-title {
	border-bottom: 3px solid #000000;
	padding-bottom: 14px;
	margin-top: 48px;
	font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	line-height: 1.5;
	font-size: 14px;
	position: relative;
}

.section-title .tit {
	display: inline-block;
	font-size: 24px;
	font-family: musinsa-Medium, sans-serif !important;
	font-weight: normal;
}